/*--Styling for Desktops --*/
@media screen and (min-width: 768px) and (max-width: 992px) {
     .container {
        max-width: 98%;
        margin-left: auto;
        margin-right: auto;        
     }
     
     ul#interactiveGallery {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
     }
     
     img.gallery {
      display: inline-block;
      width: 300px;
      height: 300px;
      padding: 0;
      margin: 0 0 30px 30px;
    }
     
     ul#interactiveGallery li {
        max-width: 360px;
        max-height: 360px;
        display: inline-block;
        margin: 0;
        padding: 0;
        
    }
    


    
    #dark-bg div div img {
  width: calc(100% - 20em);
    }
    
    button#arrowBack, button#arrowForward {
        font-size: 3em;
    }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
     .container {
        max-width: 98%;
        margin-left: auto;
        margin-right: auto;        
     }

   #searchText {
	width: 350px;
    margin-left: auto;
    margin-right: auto;
     }
     
     ul#interactiveGallery {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
     }
     
     img.gallery {
     
      width: 200px;
      height: 200px;
      padding: 0;
      margin: 0 0 30px 30px;
    }
     
     ul#interactiveGallery li {
        max-width: 260px;
        max-height: 260px;
        display: inline-block;
        margin: 0;
        padding: 0;
        
    }
    
ul#interactiveGallery li:nth-of-type(2n + 2) img.gallery {
        clear: left;
    }
    
ul#interactiveGallery li:nth-of-type(4n + 4) {
        width: 250px;
    }
    
     #dark-bg div div img, #dark-bg div div p {
  width: calc(100% - 10em);
    }
    
    button#arrowBack, button#arrowForward {
        font-size: 2em;
    }
}


@media screen and (max-width: 549px) {
     .container {
        max-width: 98%;
        margin-left: auto;
        margin-right: auto;        
     }
     
    #searchText {
	width: 250px;
    margin-left: auto;
    margin-right: auto;
     }
     
     ul#interactiveGallery {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
     }
     
     img.gallery {
      float: none;
      display: block;
      width: 250px;
      height: 250px;
      padding: 0;
      margin: 0 0 25px;
    }
     
     ul#interactiveGallery li {
        max-width: 250px;
        max-height: 280px;
        display: inline-block;
        margin: 0;
        padding: 0;
        
    }
    
    
     #dark-bg div div img, #dark-bg div div p {
  width: calc(100% - 5em);
    }
    
    button#arrowBack, button#arrowForward {
        font-size: 1.5em;
    }
}
